In [1]:
import pandas as pd

# Cargar los CSV en DataFrames
df1 = pd.read_csv("world-data-2023_part1.csv", index_col = 0)

df2 = pd.read_csv("world-data-2023_part2.csv", index_col = 0)

print(df1)
print(df2)

         Country Density\n(P/Km2) Abbreviation Agricultural Land( %)  \
0    Afghanistan               60           AF                58.10%
1        Albania              105           AL                43.10%
2        Algeria               18           DZ                17.40%
3        Andorra              164           AD                40.00%
4         Angola               26           AO                47.50%
..           ...              ...          ...                   ...
190    Venezuela               32           VE                24.50%
191      Vietnam              314           VN                39.30%
192        Yemen               56           YE                44.60%
193       Zambia               25           ZM                32.10%
194     Zimbabwe               38           ZW                41.90%

    Land Area(Km2) Armed Forces size  Birth Rate  Calling Code  \
0          652,230           323,000       32.49          93.0
1           28,748             9,000       11.78         355.0
2        2,381,741           317,000       24.28         213.0
3              468               NaN        7.20         376.0
4        1,246,700           117,000       40.73         244.0
..             ...               ...         ...           ...
190        912,050           343,000       17.88          58.0
191        331,210           522,000       16.75          84.0
192        527,968            40,000       30.45         967.0
193        752,618            16,000       36.19         260.0
194        390,757            51,000       30.68         263.0

    Capital/Major City Co2-Emissions       CPI CPI Change (%) Currency-Code  \
0                Kabul         8,672     149.9          2.30%           AFN
1               Tirana         4,536    119.05          1.40%           ALL
2              Algiers       150,006    151.36          2.00%           DZD
3     Andorra la Vella           469       NaN            NaN           EUR
4               Luanda        34,693    261.73         17.10%           AOA
..                 ...           ...       ...            ...           ...
190            Caracas       164,175  2,740.27        254.90%           VED
191              Hanoi       192,668    163.52          2.80%           VND
192              Sanaa        10,609    157.58          8.10%           YER
193             Lusaka         5,141    212.31          9.20%           ZMW
194             Harare        10,983    105.51          0.90%           NaN

     Fertility Rate Forested Area (%) Gasoline Price
0              4.47             2.10%         $0.70
1              1.62            28.10%         $1.36
2              3.02             0.80%         $0.28
3              1.27            34.00%         $1.51
4              5.52            46.30%         $0.97
..              ...               ...            ...
190            2.27            52.70%         $0.00
191            2.05            48.10%         $0.80
192            3.79             1.00%         $0.92
193            4.63            65.20%         $1.40
194            3.62            35.50%         $1.34

[195 rows x 16 columns]
                   GDP Gross primary education enrollment (%)  \
0     $19,101,353,833                                 104.00%
1     $15,278,077,447                                 107.00%
2    $169,988,236,398                                 109.90%
3      $3,154,057,987                                 106.40%
4     $94,635,415,870                                 113.50%
..                 ...                                    ...
190  $482,359,318,768                                  97.20%
191  $261,921,244,843                                 110.60%
192   $26,914,402,224                                  93.60%
193   $23,064,722,446                                  98.70%
194   $21,440,758,800                                 109.90%

    Gross tertiary education enrollment (%)  Infant mortality  \
0                                     9.70%              47.9
1                                    55.00%               7.8
2                                    51.40%              20.1
3                                       NaN               2.7
4                                     9.30%              51.6
..                                      ...               ...
190                                  79.30%              21.4
191                                  28.50%              16.5
192                                  10.20%              42.9
193                                   4.10%              40.4
194                                  10.00%              33.9

         Largest city  Life expectancy  Maternal mortality ratio Minimum wage  \
0               Kabul             64.5                     638.0       $0.43
1              Tirana             78.5                      15.0       $1.12
2             Algiers             76.7                     112.0       $0.95
3    Andorra la Vella              NaN                       NaN       $6.63
4              Luanda             60.8                     241.0       $0.71
..                ...              ...                       ...          ...
190           Caracas             72.1                     125.0       $0.01
191  Ho Chi Minh City             75.3                      43.0       $0.73
192             Sanaa             66.1                     164.0          NaN
193            Lusaka             63.5                     213.0       $0.24
194            Harare             61.2                     458.0          NaN

    Official language Out of pocket health expenditure  \
0              Pashto                           78.40%
1            Albanian                           56.90%
2              Arabic                           28.10%
3             Catalan                           36.40%
4          Portuguese                           33.40%
..                ...                              ...
190           Spanish                           45.80%
191        Vietnamese                           43.50%
192            Arabic                           81.00%
193           English                           27.50%
194             Shona                           25.80%

     Physicians per thousand  Population  \
0                       0.28  38,041,754
1                       1.20   2,854,191
2                       1.72  43,053,054
3                       3.33      77,142
4                       0.21  31,825,295
..                       ...         ...
190                     1.92  28,515,829
191                     0.82  96,462,106
192                     0.31  29,161,922
193                     1.19  17,861,030
194                     0.21  14,645,468

    Population: Labor force participation (%) Tax revenue (%) Total tax rate  \
0                                      48.90%           9.30%         71.40%
1                                      55.70%          18.60%         36.60%
2                                      41.20%          37.20%         66.10%
3                                         NaN             NaN            NaN
4                                      77.50%           9.20%         49.10%
..                                        ...             ...            ...
190                                    59.70%             NaN         73.30%
191                                    77.40%          19.10%         37.60%
192                                    38.00%             NaN         26.60%
193                                    74.60%          16.20%         15.60%
194                                    83.10%          20.70%         31.60%

    Unemployment rate Urban_population      country  \
0              11.12%        9,797,273  Afghanistan
1              12.33%        1,747,593      Albania
2              11.70%       31,510,100      Algeria
3                 NaN           67,873      Andorra
4               6.89%       21,061,025       Angola
..                ...              ...          ...
190             8.80%       25,162,368    Venezuela
191             2.01%       35,332,140      Vietnam
192            12.91%       10,869,523        Yemen
193            11.43%        7,871,713       Zambia
194             4.95%        4,717,305     Zimbabwe

                      coordinates
0      ('33.93911 ', '67.709953')
1     ('41.153332 ', '20.168331')
2      ('28.033886 ', '1.659626')
3      ('42.506285 ', '1.521801')
4    ('-11.202692 ', '17.873887')
..                            ...
190     ('6.42375 ', '-66.58973')
191  ('14.058324 ', '108.277199')
192   ('15.552727 ', '48.516388')
193  ('-13.133897 ', '27.849332')
194  ('-19.015438 ', '29.154857')

[195 rows x 19 columns]

In [2]:
pd.set_option('display.max_columns', None)

In [3]:

df1

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [4]:
df2

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

In [5]:
col1 = df1.columns.str.lower()      #primero ponemos lower por si hay diferente gramatica

In [6]:
col1

Index(['country', 'density\n(p/km2)', 'abbreviation', 'agricultural land( %)',
       'land area(km2)', 'armed forces size', 'birth rate', 'calling code',
       'capital/major city', 'co2-emissions', 'cpi', 'cpi change (%)',
       'currency-code', 'fertility rate', 'forested area (%)',
       'gasoline price'],
      dtype='object')

In [7]:
col2= df2.columns.str.lower()

In [8]:
col2

Index(['gdp', 'gross primary education enrollment (%)',
       'gross tertiary education enrollment (%)', 'infant mortality',
       'largest city', 'life expectancy', 'maternal mortality ratio',
       'minimum wage', 'official language', 'out of pocket health expenditure',
       'physicians per thousand', 'population',
       'population: labor force participation (%)', 'tax revenue (%)',
       'total tax rate', 'unemployment rate', 'urban_population', 'country',
       'coordinates'],
      dtype='object')

In [9]:
set(col1)                           #convertimos a set para poder usar intersection

{'abbreviation',
 'agricultural land( %)',
 'armed forces size',
 'birth rate',
 'calling code',
 'capital/major city',
 'co2-emissions',
 'country',
 'cpi',
 'cpi change (%)',
 'currency-code',
 'density\n(p/km2)',
 'fertility rate',
 'forested area (%)',
 'gasoline price',
 'land area(km2)'}

In [10]:
set(col2)

{'coordinates',
 'country',
 'gdp',
 'gross primary education enrollment (%)',
 'gross tertiary education enrollment (%)',
 'infant mortality',
 'largest city',
 'life expectancy',
 'maternal mortality ratio',
 'minimum wage',
 'official language',
 'out of pocket health expenditure',
 'physicians per thousand',
 'population',
 'population: labor force participation (%)',
 'tax revenue (%)',
 'total tax rate',
 'unemployment rate',
 'urban_population'}

In [11]:
columnas_comunes = col1.intersection(col2)

In [12]:
print(columnas_comunes)

Index(['country'], dtype='object')

In [13]:
type(df1)

pandas.core.frame.DataFrame

no hemos sobreescrito porque se nos convertiria el df a set

In [14]:
df1['Country']

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
190      Venezuela
191        Vietnam
192          Yemen
193         Zambia
194       Zimbabwe
Name: Country, Length: 195, dtype: object

In [15]:
df2['country']

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
190      Venezuela
191        Vietnam
192          Yemen
193         Zambia
194       Zimbabwe
Name: country, Length: 195, dtype: object

tenemos que usar el left_on porque Country y country son lo mismo pero diferente gramática

In [16]:
df_union = pd.merge(df1,df2,left_on ='Country', right_on = 'country',how ='outer')

In [17]:
df_union

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

hemos elegido el merge y en concreto outer porque tenemos columnas que son lo mismo pero con gramatica distinta y queremos que nos incluya las dos para verificar los datos de los dos df

In [18]:
df_union.sample(4)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
166,Switzerland,219,CH,38.40%,"41,277","21,000",10.00,41.0,Bern,"34,477",99.55,0.40%,CHF,1.52,31.80%,$1.45,"$703,082,435,360",105.20%,59.60%,3.7,Z���,83.6,5.0,NaN,German,28.30%,4.30,"8,574,832",68.30%,10.10%,28.80%,4.58%,"6,332,428",Switzerland,"('46.818188 ', '8.227512')"
135,Poland,124,PL,46.90%,"312,685","191,000",10.20,48.0,Warsaw,"299,037",114.11,2.20%,PLN,1.46,30.90%,$1.07,"$592,164,400,688",100.00%,67.80%,3.8,Warsaw,77.6,2.0,$2.93,Polish,23.20%,2.38,"37,970,874",56.70%,17.40%,40.80%,3.47%,"22,796,574",Poland,"('51.919438 ', '19.145136')"
47,East Timor,89,TL,25.60%,"14,874","2,000",29.42,670.0,Dili,495,145.38,2.60%,USD,4.02,45.40%,$1.10,"$1,673,540,300",115.30%,17.80%,39.3,Dili,69.3,142.0,$0.60,Portuguese,10.20%,0.72,"3,500,000",67.30%,25.00%,17.30%,4.55%,"400,182",East Timor,"('-8.874217 ', '125.727539')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

In [19]:
df_union2 = pd.merge(df1,df2,left_on ='Country', right_on = 'country',how ='inner')

In [20]:
df_union2

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

EXPLICACIÓN DE POR QUÉ NOS DA EL INNER Y EL OUTER LO MISMO:
    -podríamos hacer un concat también, porque los indices y las filas son los mismos.
        Sintaxis:
        pd.concat([df1, df2], axis=0): Une los DataFrames por filas (uno debajo del otro).
        pd.concat([df1, df2], axis=1): Une los DataFrames por columnas (uno al lado del otro).
    
    -da igual que hagamos un inner, un outer etc
        porque son iguales

In [21]:
#Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas. 

df_union.drop(columns=["country"], inplace=True)     #ponemos el True para sobreescribir!!!

In [22]:
df_union

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

In [29]:
df_union.columns = df_union.columns.str.replace(r'\([^)]*\)', '', regex=True)

In [31]:
df_union.columns = df_union.columns.str.replace('\n', '', regex=True)

In [32]:
df_union.columns = df_union.columns.str.replace(' ', '_')

In [ ]:
df_union.columns = df_union.columns.str.lower() # Convierte a minúsculas

In [34]:
df_union.columns

Index(['country', 'density', 'abbreviation', 'agricultural_land', 'land_area',
       'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city',
       'co2-emissions', 'cpi', 'cpi_change_', 'currency-code',
       'fertility_rate', 'forested_area_', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment_',
       'gross_tertiary_education_enrollment_', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population:_labor_force_participation_', 'tax_revenue_',
       'total_tax_rate', 'unemployment_rate', 'urban_population',
       'coordinates'],
      dtype='object')

vamos a utilizar lo que hemos visto en clase:
-sintaxis : df_simplificado['merchant_info_subtitle'].str.split("(",expand=True) # como es una serie añadimos el str, 
        nos va a quitar todo lo que este dentro de parentesis y sobreescribe.

In [35]:
type(df_union)

pandas.core.frame.DataFrame

In [ ]:
#La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. 
#Una vez hecho, elimina la columna de coordinates.